module "goose" {
  count    = data.coder_workspace.me.start_count
  source   = "{{ .RegistryBase }}/coder/goose/coder"
  version  = "{{ .PinnedVersion }}"
  agent_id = coder_agent.{{ .AgentResourceName }}.id
  additional_extensions = {{ .Variables.additional_extensions }}
  agentapi_version = {{ .Variables.agentapi_version }}
  folder = {{ .Variables.folder }}
  goose_model = {{ .Variables.goose_model }}
  goose_provider = {{ .Variables.goose_provider }}
  goose_version = {{ .Variables.goose_version }}
  icon = {{ .Variables.icon }}
  install_agentapi = {{ .Variables.install_agentapi }}
  install_goose = {{ .Variables.install_goose }}
  post_install_script = {{ .Variables.post_install_script }}
  pre_install_script = {{ .Variables.pre_install_script }}
}
