export CODER_ACCESS_URL="https://coder.access.url"
export CODER_HTTP_ADDRESS="0.0.0.0:3000" #If using nginx -> 127.0.0.1:3000
export CODER_PROVISIONER_DAEMONS=5
export CODER_TLS_ENABLE=false

export CODER_REDIRECT_TO_ACCESS_URL=false
export CODER_TELEMETRY_ENABLE=false
export CODER_OIDC_ENABLED=true
export CODER_OIDC_ISSUER_URL="https://oidc.issuer.url"
export CODER_OIDC_CLIENT_ID="your-oidc-client-id"
export CODER_OIDC_CLIENT_SECRET="your-oidc-client-secret"
export CODER_OIDC_SCOPES="openid email"
export CODER_OIDC_IGNORE_EMAIL_VERIFIED=true
export CODER_OIDC_REDIRECT_URI="$BASE_URL/api/v2/users/oidc/callback"
export CODER_OIDC_LOGOUT_URI="https://oidc.logout.url"
export CODER_OIDC_TOKEN_PATH="/home/ubuntu/.coder/tokens"

# if VITE_IS_CI_BUILD variable is true, CODER_DISABLE_PASSWORD_AUTH variable must be false
export VITE_IS_CI_BUILD=true
export CODER_DISABLE_PASSWORD_AUTH=false