# Common ignore patterns, these rules applies in both root and subdirectories.
.DS_Store
.eslintcache
.gitpod.yml
.idea
**/*.swp
gotests.coverage
gotests.xml
gotestsum.json
node_modules/
vendor/
yarn-error.log

# VSCode settings.
**/.vscode/*
# Allow VSCode recommendations and default settings in project root.
!/.vscode/extensions.json
!/.vscode/settings.json

# Front-end ignore patterns.
.next/
site/**/*.typegen.ts
site/build-storybook.log
site/coverage/
site/storybook-static/
site/test-results/

# Make target for updating golden files.
cli/testdata/.gen-golden

# Build
/build/
/dist/
site/out/

*.tfstate
*.tfstate.backup
*.tfplan
*.lock.hcl
.terraform/

/.coderv2/*
**/__debug_bin

# direnv
.envrc
