###############################################################################
#                                 NOTICE                                      #
# If you change this file, kindly copy-pasta your change into .prettierignore #
# and .eslintignore as well. See the following discussions to understand why  #
# we have to resort to this duplication (at least for now):                   #
#                                                                             #
# https://github.com/prettier/prettier/issues/8048                            #
# https://github.com/prettier/prettier/issues/8506                            #
# https://github.com/prettier/prettier/issues/8679                            #
###############################################################################

node_modules
vendor
.eslintcache
yarn-error.log
gotests.coverage
.idea
.DS_Store

# Front-end ignore
.next/
site/.eslintcache
site/.next/
site/node_modules/
site/storybook-static/
site/test-results/
site/yarn-error.log
coverage/
site/**/*.typegen.ts
site/build-storybook.log

# Build
dist/
site/out/

*.tfstate
*.tfstate.backup
*.tfplan
*.lock.hcl
.terraform/

.vscode/*.log
**/*.swp
.coderv2/*
**/__debug_bin
