{
  on_demand_tls {
		ask http://example.com
	}
}

coder.example.com, *.coder.example.com {
  reverse_proxy localhost:3000
  tls {
    on_demand
    issuer acme {
      email email@example.com
    }
  }
}
