VERIFICATION
Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

This package is [published automatically](https://github.com/coder/coder/blob/main/.github/workflows/release.yaml) by the software vendor/author using GitHub Actions. (see "publish-chocolatey" workflow)
