VERIFICATION
Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

This package is automatically published by Coder Technologies, Inc., the vendor of this software.

See the [coder/coder](https://github.com/coder/coder) [release](https://github.com/coder/coder/blob/main/.github/workflows/release.yaml) workflow.
