---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - stripped
        url: https://gitlab.com/api/v4/projects/gitlab-org%2Fapi%2Fclient-go/merge_requests/2654
        method: GET
      response:
        body: '{"id":445457372,"iid":2654,"project_id":65271576,"title":"feat: convert examples to testable examples for pkg.go.dev","description":"Convert all examples from examples/ directory to testable examples that\nintegrate with pkg.go.dev documentation system.\n\nChanges:\n- Add 24 testable example files with package gitlab_test\n- Implement httptest mocking for all examples (no GitLab instance required)\n- Add Output comments for go test verification\n- All examples pass ''go test'' successfully\n- Remove old examples/ directory\n\nExamples include:\n- Applications, BasicAuth, ClusterAgents, Deployments\n- Impersonation, Import (Bitbucket Cloud/Server), Labels\n- Languages, MergeRequests (standard and auto-merge)\n- OAuth2, Pagination (standard and keyset)\n- PersonalAccessTokens (list, revoke, rotate)\n- Pipelines, Projects, Repositories, Services, Topics, Webhooks\n\nBenefits:\n- Examples verified by CI/CD through go test\n- Examples display on pkg.go.dev with syntax highlighting\n- Users can copy/paste working code directly\n- API changes caught by example tests\n\nCloses #2194","state":"closed","created_at":"2026-01-11T12:14:32.907Z","updated_at":"2026-01-11T14:21:31.409Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":{"id":32878191,"username":"amrkhald777","public_email":"","name":"Amer Khaled","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/32878191/avatar.png","web_url":"https://gitlab.com/amrkhald777"},"closed_at":"2026-01-11T14:21:31.137Z","target_branch":"main","source_branch":"convert-examples-to-testable-examples","user_notes_count":3,"upvotes":0,"downvotes":0,"author":{"id":32878191,"username":"amrkhald777","public_email":"","name":"Amer Khaled","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/32878191/avatar.png","web_url":"https://gitlab.com/amrkhald777"},"assignees":[{"id":32878191,"username":"amrkhald777","public_email":"","name":"Amer Khaled","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/32878191/avatar.png","web_url":"https://gitlab.com/amrkhald777"}],"assignee":{"id":32878191,"username":"amrkhald777","public_email":"","name":"Amer Khaled","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/32878191/avatar.png","web_url":"https://gitlab.com/amrkhald777"},"reviewers":[{"id":21826781,"username":"GitLabDuo","public_email":null,"name":"GitLab Duo","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/21826781/duo-bot.png","web_url":"https://gitlab.com/GitLabDuo"}],"source_project_id":null,"target_project_id":65271576,"labels":["1st contribution","Community contribution","devops::developer experience","group::development tooling","linked-issue","section::developer experience","type::feature","workflow::in dev"],"draft":false,"imported":false,"imported_from":"none","work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","detailed_merge_status":"not_open","merge_after":null,"sha":"868041db85955c58393306e7c21c480f243b3a18","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"prepared_at":"2026-01-11T12:14:40.504Z","allow_collaboration":false,"allow_maintainer_to_push":false,"reference":"!2654","references":{"short":"!2654","relative":"!2654","full":"gitlab-org/api/client-go!2654"},"web_url":"https://gitlab.com/gitlab-org/api/client-go/-/merge_requests/2654","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":true,"squash_on_merge":true,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":false,"changes_count":"21","latest_build_started_at":null,"latest_build_finished_at":null,"first_deployed_to_production_at":null,"pipeline":null,"head_pipeline":null,"diff_refs":{"base_sha":"2ccecf61d2c782363a9bab9d08bb3287f146c203","head_sha":"868041db85955c58393306e7c21c480f243b3a18","start_sha":"2ccecf61d2c782363a9bab9d08bb3287f146c203"},"merge_error":null,"first_contribution":false,"user":{"can_merge":false}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - stripped
            Gitlab-Lb:
                - stripped
            Gitlab-Sv:
                - stripped
            Ratelimit-Limit:
                - stripped
            Ratelimit-Name:
                - stripped
            Ratelimit-Observed:
                - stripped
            Ratelimit-Remaining:
                - stripped
            Ratelimit-Reset:
                - stripped
            X-Gitlab-Meta:
                - stripped
        status: 200 OK
        code: 200
        duration: 333.202132ms
    - id: 1
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - stripped
        url: https://gitlab.com/api/v4/projects/gitlab-org%2Fapi%2Fclient-go/merge_requests/2654/approvals
        method: GET
      response:
        body: '{"id":445457372,"iid":2654,"project_id":65271576,"title":"feat: convert examples to testable examples for pkg.go.dev","description":"Convert all examples from examples/ directory to testable examples that\nintegrate wit[...]
