---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - stripped
        url: https://gitlab.com/api/v4/projects/johnstcn%2Fdotfiles/merge_requests/2
        method: GET
      response:
        body: '{"id":485307181,"iid":2,"project_id":29552911,"title":"Edit install.sh","description":"","state":"opened","created_at":"2026-05-15T11:10:33.042Z","updated_at":"2026-05-15T11:10:36.677Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"main","source_branch":"johnstcn-main-patch-16936","user_notes_count":0,"upvotes":0,"downvotes":0,"author":{"id":687093,"username":"johnstcn","public_email":"","name":"Cian Johnston","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/687093/avatar.png","web_url":"https://gitlab.com/johnstcn"},"assignees":[{"id":687093,"username":"johnstcn","public_email":"","name":"Cian Johnston","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/687093/avatar.png","web_url":"https://gitlab.com/johnstcn"}],"assignee":{"id":687093,"username":"johnstcn","public_email":"","name":"Cian Johnston","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/687093/avatar.png","web_url":"https://gitlab.com/johnstcn"},"reviewers":[],"source_project_id":29552911,"target_project_id":29552911,"labels":[],"draft":false,"imported":false,"imported_from":"none","work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","detailed_merge_status":"mergeable","merge_after":null,"sha":"039b0a471e3afd3119c0baa526412ab8ec0bb56b","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"prepared_at":"2026-05-15T11:10:36.609Z","reference":"!2","references":{"short":"!2","relative":"!2","full":"johnstcn/dotfiles!2"},"web_url":"https://gitlab.com/johnstcn/dotfiles/-/merge_requests/2","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"squash_on_merge":false,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":false,"changes_count":"1","latest_build_started_at":null,"latest_build_finished_at":null,"first_deployed_to_production_at":null,"pipeline":null,"head_pipeline":null,"diff_refs":{"base_sha":"3f92826d2166811677bff25b5c9d4504d41a4644","head_sha":"039b0a471e3afd3119c0baa526412ab8ec0bb56b","start_sha":"3f92826d2166811677bff25b5c9d4504d41a4644"},"merge_error":null,"first_contribution":true,"user":{"can_merge":false}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - stripped
            Gitlab-Lb:
                - stripped
            Gitlab-Sv:
                - stripped
            Ratelimit-Limit:
                - stripped
            Ratelimit-Name:
                - stripped
            Ratelimit-Observed:
                - stripped
            Ratelimit-Remaining:
                - stripped
            Ratelimit-Reset:
                - stripped
            X-Gitlab-Meta:
                - stripped
        status: 200 OK
        code: 200
        duration: 337.018232ms
    - id: 1
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - stripped
        url: https://gitlab.com/api/v4/projects/johnstcn%2Fdotfiles/merge_requests/2/approvals
        method: GET
      response:
        body: '{"id":485307181,"iid":2,"project_id":29552911,"title":"Edit install.sh","description":"","state":"opened","created_at":"2026-05-15T11:10:33.042Z","updated_at":"2026-05-15T11:10:36.677Z","merge_status":"can_be_merged","approved":true,"approvals_required":0,"approvals_left":0,"require_password_to_approve":false,"approved_by":[],"suggested_approvers":[],"approvers":[],"approver_groups":[],"user_has_approved":false,"user_can_approve":false,"approval_rules_left":[],"has_approval_rules":false,"merge_request_approvers_available":false,"multiple_approval_rules_available":false,"invalid_approvers_rules":[]}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - stripped
            Gitlab-Lb:
                - stripped
            Gitlab-Sv:
                - stripped
            Ratelimit-Limit:
                - stripped
            Ratelimit-Name:
                - stripped
            Ratelimit-Observed:
                - stripped
            Ratelimit-Remaining:
                - stripped
            Ratelimit-Reset:
                - stripped
            X-Gitlab-Meta:
                - stripped
        status: 200 OK
        code: 200
        duration: 184.432314ms
    - id: 2
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - stripped
        url: https://gitlab.com/api/v4/projects/johnstcn%2Fdotfiles/merge_requests/2/commits?per_page=100
        method: GET
      response:
        body: '[{"id":"abc123","short_id":"abc1","title":"Initial commit","stats":{"additions":10,"deletions":3,"total":13}},{"id":"def456","short_id":"def4","title":"Second commit","stats":{"additions":5,"deletions":2,"total":7}}]'
        headers:
            Content-Type:
                - application/json
            X-Total:
                - "2"
        status: 200 OK
        code: 200
        duration: 150.000000ms
