app = "sao-paulo-coder"
primary_region = "gru"

[experimental]
  entrypoint = ["/bin/sh", "-c", "CODER_DERP_SERVER_RELAY_URL=\"http://[${FLY_PRIVATE_IP}]:3000\" /opt/coder wsproxy server"]
  auto_rollback = true

[build]
  image = "ghcr.io/coder/coder-preview:main"

[env]
  CODER_ACCESS_URL = "https://sao-paulo.fly.dev.coder.com"
  CODER_HTTP_ADDRESS = "0.0.0.0:3000"
  CODER_PRIMARY_ACCESS_URL = "https://dev.coder.com"
  CODER_WILDCARD_ACCESS_URL = "*--apps.sao-paulo.fly.dev.coder.com"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = "shared"
  cpus = 2
  memory_mb = 512
