###############################################################################
# COPY PASTA OF .gitignore
###############################################################################

.idea
.gitpod.yml
node_modules
vendor
out
coverage
.next
storybook-static
test-results
**/*.typegen.ts
**/*.swp
.coderv2/*
