###############################################################################
# COPY PASTA OF .gitignore
###############################################################################
node_modules
vendor
out
coverage
.next
storybook-static
test-results
**/*.typegen.ts
