{
  "printWidth": 100,
  "semi": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["./README.md", "**/*.yaml"],
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}
