###############################################################################
# COPY PASTA OF .gitignore
# https://github.com/prettier/prettier/issues/8048
# https://github.com/prettier/prettier/issues/8506
# https://github.com/prettier/prettier/issues/8679
###############################################################################

node_modules
vendor
.eslintcache
yarn-error.log
.idea
.gitpod.yml

# Front-end ignore
.next/
coverage/
out/
storybook-static/
test-results/

**/*.swp
.coderv2/*

