@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--content-primary: #27272a;
		--content-secondary: #52525b;
		--content-link: #2563eb;
		--content-invert: #fafafa;
		--content-disabled: #a1a1aa;
		--content-success: #15803d;
		--content-danger: #ef4444;
		--surface-primary: #fafafa;
		--surface-secondary: #f4f4f5;
		--surface-tertiary: #e4e4e7;
		--surface-invert-primary: #27272a;
		--surface-invert-secondary: #3f3f46;
		--surface-error: #450a0a;
		--border-default: #e4e4e7;
		--border-error: #ef4444;
		--radius: 0.5rem;
	}
	.dark {
		--content-primary: #fafafa;
		--content-secondary: #a1a1aa;
		--content-link: #60a5fa;
		--content-invert: #09090b;
		--content-disabled: #3f3f46;
		--content-success: #16a34a;
		--content-danger: #f87171;
		--surface-primary: #09090b;
		--surface-secondary: #18181b;
		--surface-tertiary: #27272a;
		--surface-invert-primary: #e4e4e7;
		--surface-invert-secondary: #a1a1aa;
		--surface-error: #450a0a;
		--border-default: #27272a;
		--border-error: #f87171;
	}
}
