---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        form:
            order_by:
                - updated_at
            per_page:
                - "1"
            sort:
                - desc
            source_branch:
                - github
            state:
                - opened
        headers:
            Private-Token:
                - stripped
        url: https://gitlab.com/api/v4/projects/johnstcn%2Fdotfiles/merge_requests?order_by=updated_at&per_page=1&sort=desc&source_branch=github&state=opened
        method: GET
      response:
        body: '[{"id":485028124,"iid":1,"project_id":29552911,"title":"Migrate from Ansible back to shell scripts","description":"- Move dotfiles to files/\n- Create host-specific configs in hosts/\n- Rewrite install.sh to use pure shell logic","state":"opened","created_at":"2026-05-14T16:04:09.387Z","updated_at":"2026-05-14T16:04:16.588Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"main","source_branch":"github","user_notes_count":0,"upvotes":0,"downvotes":0,"author":{"id":687093,"username":"johnstcn","public_email":"","name":"Cian Johnston","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/687093/avatar.png","web_url":"https://gitlab.com/johnstcn"},"assignees":[{"id":687093,"username":"johnstcn","public_email":"","name":"Cian Johnston","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/687093/avatar.png","web_url":"https://gitlab.com/johnstcn"}],"assignee":{"id":687093,"username":"johnstcn","public_email":"","name":"Cian Johnston","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/687093/avatar.png","web_url":"https://gitlab.com/johnstcn"},"reviewers":[],"source_project_id":29552911,"target_project_id":29552911,"labels":[],"draft":false,"imported":false,"imported_from":"none","work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"cannot_be_merged","detailed_merge_status":"conflict","merge_after":null,"sha":"806769254e513400a9ef53cd7fd51e236b61eef9","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"prepared_at":"2026-05-14T16:04:16.580Z","reference":"!1","references":{"short":"!1","relative":"!1","full":"johnstcn/dotfiles!1"},"web_url":"https://gitlab.com/johnstcn/dotfiles/-/merge_requests/1","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"squash_on_merge":false,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":true,"blocking_discussions_resolved":true,"approvals_before_merge":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - stripped
            Gitlab-Lb:
                - stripped
            Gitlab-Sv:
                - stripped
            Link:
                - stripped
            Ratelimit-Limit:
                - stripped
            Ratelimit-Name:
                - stripped
            Ratelimit-Observed:
                - stripped
            Ratelimit-Remaining:
                - stripped
            Ratelimit-Reset:
                - stripped
            X-Gitlab-Meta:
                - stripped
            X-Next-Page:
                - stripped
            X-Page:
                - stripped
            X-Per-Page:
                - stripped
            X-Prev-Page:
                - stripped
            X-Total:
                - stripped
            X-Total-Pages:
                - stripped
        status: 200 OK
        code: 200
        duration: 323.696514ms
