# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/out/
/build

# react router
/.react-router/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
pnpm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# content
public/images/
