apiVersion: 1

datasources:
  - name: Tempo
    uid: tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    editable: true
    jsonData:
      httpMethod: GET

      nodeGraph:
        enabled: true
      serviceMap:
        datasourceUid: prometheus

      tracesToMetrics:
        datasourceUid: prometheus
        tags:
          - key: service.name
            value: service
          - key: job
        queries:
          - name: P90 latency (spanmetrics)
            query: sum(rate(tempo_spanmetrics_latency_bucket[$__interval])) by (le, service)

      # Optional: traces->logs (if you have Loki wired up)
      # tracesToLogs:
      #   datasourceUid: loki
      #   tags:
      #     - job
      #     - instance
      #   mappedTags:
      #     - key: service.name
      #       value: service
      #   spanStartTimeShift: '1h'
      #   spanEndTimeShift: '1h'
