module "filebrowser" {
  count    = data.coder_workspace.me.start_count
  source   = "{{ .RegistryBase }}/coder/filebrowser/coder"
  version  = "{{ .PinnedVersion }}"
  agent_id = coder_agent.{{ .AgentResourceName }}.id
  agent_name = {{ .Variables.agent_name }}
  database_path = {{ .Variables.database_path }}
  folder = {{ .Variables.folder }}
  port = {{ .Variables.port }}
}
