---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - stripped
        url: https://gitlab.com/api/v4/projects/johnstcn%2Fdotfiles
        method: GET
      response:
        body: '{"id":29552911,"description":"","name":"dotfiles","name_with_namespace":"Cian Johnston / dotfiles","path":"dotfiles","path_with_namespace":"johnstcn/dotfiles","created_at":"2021-09-12T16:02:41.128Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:johnstcn/dotfiles.git","http_url_to_repo":"https://gitlab.com/johnstcn/dotfiles.git","web_url":"https://gitlab.com/johnstcn/dotfiles","readme_url":null,"forks_count":0,"avatar_url":null,"star_count":0,"last_activity_at":"2026-05-15T11:10:28.024Z","visibility":"public","namespace":{"id":819598,"name":"Cian Johnston","path":"johnstcn","kind":"user","full_path":"johnstcn","parent_id":null,"avatar_url":"/uploads/-/system/user/avatar/687093/avatar.png","web_url":"https://gitlab.com/johnstcn"}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - stripped
            Gitlab-Lb:
                - stripped
            Gitlab-Sv:
                - stripped
            Ratelimit-Limit:
                - stripped
            Ratelimit-Name:
                - stripped
            Ratelimit-Observed:
                - stripped
            Ratelimit-Remaining:
                - stripped
            Ratelimit-Reset:
                - stripped
            X-Gitlab-Meta:
                - stripped
        status: 200 OK
        code: 200
        duration: 253.333ms
    - id: 1
      request:
        host: gitlab.com
        form:
            from:
                - main
            to:
                - github
            unidiff:
                - "true"
        headers:
            Private-Token:
                - stripped
        url: https://gitlab.com/api/v4/projects/johnstcn%2Fdotfiles/repository/compare?from=main&to=github&unidiff=true
        method: GET
      response:
        body: "{\"commit\":{\"id\":\"806769254e513400a9ef53cd7fd51e236b61eef9\",\"short_id\":\"80676925\",\"created_at\":\"2026-03-03T23:40:29.000+00:00\",\"parent_ids\":[\"0eddea65010a44e5f7cdd877eb68094255466987\"],\"title\":\"fmt\",\"message\":\"fmt\\n\",\"author_name\":\"Cian Johnston\",\"author_email\":\"public@cianjohnston.ie\",\"authored_date\":\"2026-03-03T23:40:20.000+00:00\",\"committer_name\":\"Cian Johnston\",\"committer_email\":\"public@cianjohnston.ie\",\"committed_date\":\"2026-03-03T23:40:29.000+00:00\",\"trailers\":{},\"extended_trailers\":{},\"web_url\":\"https://gitlab.com/johnstcn/dotfiles/-/commit/806769254e513400a9ef53cd7fd51e236b61eef9\"},\"commits\":[{\"id\":\"d5a476289488ca50f4e17bba566da238c2cbd5fb\",\"short_id\":\"d5a47628\",\"created_at\":\"2021-11-18T22:16:01.000+00:00\",\"parent_ids\":[],\"title\":\"initial commit\",\"message\":\"initial commit\\n\",\"author_name\":\"Cian Johnston\",\"author_email\":\"public@cianjohnston.ie\",\"authored_date\":\"2021-11-18T22:16:01.000+00:00\",\"committer_name\":\"Cian Johnston\",\"committer_email\":\"public@cianjohnston.ie\",\"committed_date\":\"2021-11-18T22:16:01.000+00:00\",\"trailers\":{},\"exten[...]
