module "personalize" {
  count    = data.coder_workspace.me.start_count
  source   = "{{ .RegistryBase }}/coder/personalize/coder"
  version  = "{{ .PinnedVersion }}"
  agent_id = coder_agent.{{ .AgentResourceName }}.id
  path = {{ .Variables.path }}
}
