name: API Docs Linter

on:
  push:
    branches:
      - main

  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Run API docs linter
        run: ./scripts/api-docs-linter.sh
