[default]
extend-ignore-identifiers-re = ["gho_.*"]

[default.extend-identifiers]
alog = "alog"
Jetbrains = "JetBrains"
IST = "IST"
MacOS = "macOS"
AKS = "AKS"
O_WRONLY = "O_WRONLY"

[default.extend-words]
AKS = "AKS"
# do as sudo replacement
doas = "doas"
darcula = "darcula"
Hashi = "Hashi"
trialer = "trialer"
encrypter = "encrypter"
# as in helsinki
hel = "hel"
# this is used as proto node
pn = "pn"
# typos doesn't like the EDE in TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA
EDE = "EDE"
# HELO is an SMTP command
HELO = "HELO"
LKE = "LKE"
byt = "byt"
typ = "typ"

[files]
extend-exclude = [
	"**.svg",
	"**.png",
	"**.lock",
	"go.sum",
	"go.mod",
	# These files contain base64 strings that confuse the detector
	"**XService**.ts",
	"**identity.go",
	"**/*_test.go",
	"**/*.test.tsx",
	"**/pnpm-lock.yaml",
	"tailnet/testdata/**",
	"site/src/pages/SetupPage/countries.tsx",
	"provisioner/terraform/testdata/**",
	# notifications' golden files confuse the detector because of quoted-printable encoding
	"coderd/notifications/testdata/**",
	"agent/agentcontainers/testdata/devcontainercli/**"
]
